@import url("//fonts.googleapis.com/css?family=Indie+Flower");
@import url("//fonts.googleapis.com/css?family=Lato:400,400italic");

body,   
html {
    width: 100%;
    height: 100%;
    font-family: "Lato","Helvetica Neue",Helvetica,Arial,sans-serif;
}

/* Changes navbar brand text to imported font */
.navbar-brand {
  font-size: 3em;
  font-family: 'Indie Flower', cursive;
}

/* Padding needed because of nav-fixed-top */
body {
  padding-top: 50px;
}

/* Sets the text "Menu" next to the Hamburger */
.navbar-toggle:before {
  content: "Menu";
  left: -50px;
  top: 6px;
  position: absolute;
  width: 50px;
  color: #fff;
}

.home-body {
  padding-top: 25vh;
  background: url(https://i.imgur.com/KvNSWeb.jpg) no-repeat top center fixed;
  background: url(https://i.imgur.com/Cpey9ae.png) no-repeat top center fixed;
  background-color: #011627;
  background-size: cover;
  background: #43cea2; /* fallback for old browsers */
  background: -webkit-linear-gradient(right, #43cea2, #185a9d);
  background: -moz-linear-gradient(right, #43cea2, #185a9d);
  background: -o-linear-gradient(right, #43cea2, #185a9d);
  background: linear-gradient(to left, #43cea2, #185a9d); /* Chrome 10-25, Safari 5.1-6 */ /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  height: 100%;
}

/* Centers the content on the page without need for padding etc.
.home-body {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}
-------------------------- */

.home-body h1 {
  font-size: 5em;
  font-family: "Lato","Helvetica Neue",Helvetica,Arial,sans-serif;
  color: #fff;
  margin-bottom: 10px;
}

.home-body h2 {
  font-size: 1.2em;
  color: #fff;
  opacity: .7;
  padding-bottom: 15px;
}

h1{
  font-family: "Lato", serif;
  color: #8E8986;
  text-shadow: 2px 2px 3px rgba(0, 0, 0, 1);
  font-weight: bold;
  padding-bottom: 5px;
}

h2, h3, h4{
  font-family: "Lato", serif;
  color: #fff;
  font-weight: bold;
  padding-bottom: 5px;
  text-shadow: 2px 2px 3px rgba(0, 0, 0, 1);
}

h4 {
  opacity: 0.9;
}

hr {
  width: 80%;
  border: 0;
  height: 1px;
  background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(255, 255, 255, 0.75), rgba(0, 0, 0, 0));
}

.btn {
  background-color: rgb(255,255,255);
  background-color: rgba(255,255,255,0);
  color: #fff;
  margin: 0 3px;
}

.valign {
  vertical-align: 3px;
}

li span {
  margin: 0 7px 0 0;
}

.fb-blue {
  color: #3b5998;
}

.github-black {
  color: #000;
}

.in-blue {
  color: #0177B5;
}

.padding-arrow-home {
  margin-top: 25vh;
}

#arrowToAbout {
  display: none;
}

a[id*="a-"] { /* Fix for all anchor tags to adjust because of the fixed navbar of 50px */
  display: block;
  content: "";
  height: 50px;
  margin: -50px 0 0;
}

#about-full {
  background-color: #247BA0;
  background-color: #16425B;
}

#about-body {
  height: 100%;
  height: calc(100vh - 50px);
}

#about-body h2 {
  margin: 13vh 0 5vh 0;
}

#about-body a {
  color: #2460A0;
}

#about-body h4 {
  margin-bottom: 10%;
  line-height: 1.8em;
  font-size: 1.5em;
}

#portrait {
  margin-top: 20vh;
  width: 60%;
}

.padding-arrow-about {
  padding: 20px;
}

#portfolio-body h2 {
  padding: 10px 0 0 0;
}

#portfolio-body h3 {
  padding-top: 0;
  padding-bottom: 5px;
}

.projectSquare {
  height: 350px;
  width: 350px;
  background-color: black;
  margin: 0 auto;
}
